@Model Han.Fm.Model.Dto.Sys.MenuResult
@{
    ViewBag.Title = "更新菜单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="/home/index" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Home</a><a href="#" class="current">更新菜单</a></div>
        <h1>更新菜单</h1>
        <div class="container-fluid">
            <hr />
            <div class="row-fluid">
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-align-justify"></i></span>
                            <h5>菜单信息</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <form action="/sys/menu/savemenu" method="post"  class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">菜单名称：</label>
                                    <div class="controls">
                                        <input id="txtName" name="Name" type="text" class="span11" placeholder="菜单名称" value="@Model.Name" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">事件：</label>
                                    <div class="controls">
                                        <input id="txtHandler" name="Handler" type="text" class="span11" placeholder="事件" value="@Model.Handler" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">图标：</label>
                                    <div class="controls">
                                        <input id="txtIcon" name="Icon" type="text" class="span11" placeholder="图标" value="@Model.Icon" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">状态：</label>
                                    <div class="controls">
                                        <label>
                                            <input type="radio" name="state" checked="checked" value="启用" />
                                            启用
                                        </label>
                                        <label>
                                            <input type="radio" name="state" value="停用" />
                                            停用
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">备注：</label>
                                    <div class="controls">
                                        <textarea id="txtRemark" name="Remark"  class="span11"  placeholder="备注">@Model.Remark</textarea>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button onClick="savemenu();return false;"  class="btn btn-success">保存</button>
                                    <button  class="btn btn-primary">重置</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        function savemenu() {
            var node ={Id: @Model.Id, Name: $('#txtName').val(), Handler: $('#txtHandler').val(), Icon: $('#txtIcon').val(), Remark: $('#txtRemark').val()};
            $.ajax({
                cache: false,
                type: "post",
                async: false,
                url: "/sys/menu/savemenu",
                data:{menunode:JSON.stringify(node)},
                dataType: 'json',
                beforeSend: function () {
                    //console.dir('正在加载');
                },
                success: function (x) {
                    if (x.IsSuccess) {
                        $.gritter.add({
                            title: '用户信息',
                            text: '保存成功',
                            image: '/img/demo/envelope.png',
                            position: 'bottom-right',
                            time: 1000,
                            class_name: 'gritter-success', //gritter-center
                            sticky: false
                        });
                    }
                },
                error: function () {
                    alert('保存信息出错...');
                }
            });
        }

        $('#menu_save').click(function () {
            
        });
    </script>

}

